<h1 align=center><%= @article.title %></h1>

<div style="margin-top:2em;"></div>
<div class="col-md-offset-1">
    <div class="card col-md-2">
        <h4>Date</h4>
        <h6 class="text-muted">
            <%= raw(@article.start_date.strftime("%B %d, %Y")) %>
            <br>
            <%= raw(@article.start_time.in_time_zone("PST8PDT").strftime("%I:%M%p")) %>
        </h6>
    </div>
    <div class="col-md-8">
        <%= raw(@article.description) %>
    </div>

</div>

<div class="col-xs-offset-3">

</div>

<div class="col-xs-8 col-xs-offset-2">

    <% if @article.user == current_user %>
    <p align="center">
        <%= link_to "Edit", edit_article_path(@article), class: "btn btn-md btn-primary", style: "width: 8.8em;" %>
        <%= link_to "Delete", article_path(@article), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-md btn-danger", style: "width: 10em;" %>
    </p>
    <% end %>

    <p align="center">
        <%= link_to "Back", articles_path, class: "btn btn-md btn-primary" %>
    </p>

</div>
